
.clase{
margin-bottom:10px;
display:block;
}
.clase2{
margin:auto;
margin-bottom:10px;
display:inline-block;
margin-bottom:30px;
}
#div1{
text-align:center;
}
#div2{
display:block;
}
#idTabla{
margin:auto;
width:100px;
margin-bottom:30px;
}
#idLista{
margin:auto;
}
